<!-- remove this alert -->
<div class="alert alert-danger rounded p-3 alert-dismissible fade show" role="alert">
 <p> Hey... you can visit cute blog home page <strong><a href="https://cuteblog.web.app">https://cuteblog.web.app</a></strong> 👈<br/>
  👉 or visit on <strong><a href="https://cuteblog.firebaseapp.com">https://cuteblog.firebaseapp.com</a></strong>
</p>
  For documentation visit on <strong><a href="https://www.hockeycomputindo.com/2022/04/cute-blog-astro-generator-static-site.html">https://www.hockeycomputindo.com/2022/04/cute-blog-astro-generator-static-site.html</a></strong> 👌<br/>
This is just alert so you can create promotion article or other with you needed.
  <br/>
 🚨 For change or remove this alert go to components/alert.astro and kill him.!!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- end remove this alert -->